{% extends 'base.html' %}

{% block content %}
                        
                        <h2>group members include</h2>
                        <p> abdulbasit Kasim <br>
                            Andrew Greer <br>
                            Aqeel charania </p>
                            

                         
                           <h2>group members     -               workload divsion                             </h2>
                             <p>Abdulbasit Kasim - Data handling and modelling, HTML                          </p>
                              <p>Andrew Greer    - Data modelling and deployment to Google App Engine         </p>
                              <p>Aqeel charania - HTML and uploading inference data to Google cloud storage  </p>       </div>                                       
                    {% endblock %}