{% extends 'base.html' %}

{% block content %}
                        
                        <h2>Group Members Include</h2>
                        <p> Abdulbasit Kasim <br>
                            Andrew Greer <br>
                            Aqeel charania </p>
                            

                         
                           <h2>Group Members     -               Workload Divsion                             </h2>
                             <p>Abdulbasit Kasim- Programming the ML model, HTML, SQL.
                         </p>
                              <p>Andrew Greer- Programming model, deployment to Google App Engine, solved errors.
       </p>
                              <p>Aqeel Charania-HTML, deploying GCE, Docker file, PPT.  </p>                                              
                    {% endblock %}