{% extends 'base.html' %}
{% block content %}
<h1>Welcome to the Data Prediction Software </h1>
 <h3>Data:   <sub>      medical cost personal dataset            </h3>
 <h3>source: <sub>     kaggle </h3>
  <h3>authors: <sub>    Kasim, Greer, Charania </h3>

<h2>Github repo :<a href=https://github.com/dulzK/cloud-project.git>link text</a>

<h4>data_processing and modelling </h4>
<h7> the link above send you the repo where the data_processing file is located,<p1>which will consist of some preprocessing techniques like chequing for null data,
                                                                          descriptive analysis
                                                                          categorizing numerical and categoral data
                                                                          checking for corrolation all this is include in the ipybn file in the repo.</p1>
                                                                          </h7>
  
<h4>modelling </h4>
<h7> the data modelling  used is know as extra tree regression <p2>twhich implements a meta estimator that fits a number of randomized decision trees on various sub-samples of the dataset and uses averaging to improve the predictive accuracy and control over-fitting</p2>
</h7>


                                                                



{% endblock %}
